body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -20px;
}


div {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(211, 211, 211);
    padding: 40px;
    padding-top: 60px;
    border-radius: 7px;
}

input {
    padding: 3px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
}

#mensagem {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(214, 31, 31);
    bottom: -3px;
}

.linkMensagem {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 27, 136);
}