body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: blue;
  text-align: center;
}

p {
  font-size: 16px;
  color: #333;
}

button {
  background-color: green;
  color: white;
  padding: 10px;
}

/* 
Exercícios:
Altere a cor de fundo da página.

Centralize o título e mude a cor do texto.

Estilize os parágrafos com uma cor diferente e um tamanho maior.

Crie um botão com cor de fundo personalizada, bordas arredondadas e sombra. */